{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('person_search') }}"
  <table>
    <tr>
      <td>
        {{ selectSeriesForm.seriesSelector }}
      </td>
    </tr>
    <tr>
      <td>
        {{ searchForm.lastFirstSearch.label }}
      </td>
      <td>
        {{ searchForm.lastFirstSearch }}
      </td>
      <td colspan="2">
        <input type="submit" value="Hae henkilöä"/>
      </td>
    </tr>
  </table>
</form>
  <table border="1">
    <thead>
      <tr>
        <th>Valitse</th>
        <th>Etunimi</th>
        <th>Sukunimi</th>
        <th>Syntymäaika</th>
        <th>Sähköposti</th>
        <th>Puhelin</th>
        <th>Osoite</th>
        <th>Postinumero</th>
        <th>Postitoimipaikka</th>
        <th>Maa</th>
      </tr>
    </thead>
    {% for person in people %}
    <tbody>
      <tr>
        <td>
          <input type="submit" name="{{ person.id }}" value="Lisää tapahtumaan">
        </td>
        <td>{{ person.firstname }}</td>
        <td>{{ person.lastname }}</td>
        <td>{{ person.birthdate }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.phone }}</td>
        <td>{{ person.address }}</td>
        <td>{{ person.postalCode }}</td>
        <td>{{ person.postOffice }}</td>
        <td>{{ person.country }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
{% endblock %}
