{% extends "layout.html" %}

{% block body %}
<table border="1">
  <thead>
    <tr>
      <th>Sarja</th>
      <th>Tapahtuma</th>
      <th>Lähtöaika</th>
      <th>Kokonaismatka</th>
    </tr>
  </thead>
  {% for series in series %}
  <tbody>
    <tr>
      <td>{{ series.seriesName }}</td>
      <td>{{ series.eventName }}</td>
      <td>{{ series.startTime }}</td>
      <td>{{ series.totalDistance }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
<form method="POST" action="{{ url_for('person_create') }}">
  <table>
    <tr>
      <td></td>
      <td>
        {{ person.firstname }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.firstname.label }}
      </td>
      <td>
        {{ form.firstname }}
      </td>
      <td>
        <ul>
          {% for error in form.firstname.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        {{ person.lastname }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.lastname.label }}
      </td>
      <td>
        {{ form.lastname }}
      </td>
      <td>
        <ul>
          {% for error in form.lastname.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        {{ person.birthdate }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.birthdate.label }}
      </td>
      <td>
        {{ form.birthdate }}
      </td>
      <td>
        <ul>
          {% for error in form.birthdate.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        {{ person.email }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.email.label }}
      </td>
      <td>
        {{ form.email }}
      </td>
      <td>
        <ul>
          {% for error in form.email.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        {{ person.phone }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.phone.label }}
      </td>
      <td>
        {{ form.phone }}
      </td>
      <td>
        <ul>
          {% for error in form.phone.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        {{ person.address }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.address.label }}
      </td>
      <td>
        {{ form.address }}
      </td>
      <td>
        <ul>
          {% for error in form.address.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        {{ person.postalCode }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.postalCode.label }}
      </td>
      <td>
        {{ form.postalCode }}
      </td>
      <td>
        <ul>
          {% for error in form.postalCode.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        {{ person.postOffice }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.postOffice.label }}
      </td>
      <td>
        {{ form.postOffice }}
      </td>
      <td>
        <ul>
          {% for error in form.postOffice.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        {{ person.country }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.country.label }}
      </td>
      <td>
        {{ form.country }}
      </td>
      <td>
        <ul>
          {% for error in form.country.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Päivitä tiedot"
      </td>
    </tr>
  </table>
</form>
{% endblock %}
