{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Etunimi</th>
      <th>Sukunimi</th>
      <th>SukuEtu</th>
      <th>Osoite</th>
      <th>Postinumero</th>
      <th>Postitoimipaikka</th>
      <th>Maa</th>
      <th>Sähköposti</th>
      <th>Puhelin</th>
    </tr>
    {% for henkilo in henkilot %}
    <tr>
      <td>{{ henkilo.etunimi }}</td>
      <td>{{ henkilo.sukunimi }}</td>
      <td>{{ henkilo.sukuEtu }}</td>
      <td>{{ henkilo.osoite }}</td>
      <td>{{ henkilo.postinumero }}</td>
      <td>{{ henkilo.postitoimipaikka }}</td>
      <td>{{ henkilo.maa }}</td>
      <td>{{ henkilo.sahkoposti }}</td>
      <td>{{ henkilo.puhelin }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
