{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('henkilot_create') }}">
  <input type="text" name="etunimi"/>
  <input type="text" name="sukunimi"/>
  <input type="text" name="sukuEtu"/>
  <input type="text" name="osoite"/>
  <input type="text" name="postinumero"/>
  <input type="text" name="postitoimipaikka"/>
  <input type="text" name="maa"/>
  <input type="text" name="sahkoposti"/>
  <input type="text" name="puhelin"/>
  <input type="submit" value="Lisää henkilö"/>
</form>
{% endblock %}
