{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('henkilot_create') }}">
  <table>
    <tr>
      <td>
        {{ form.etunimi.label }}
      </td>
      <td>
        {{ form.etunimi }}
      </td>
      <td>
        <ul>
          {% for error in form.etunimi.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.sukunimi.label }}
      </td>
      <td>
        {{ form.sukunimi }}
      </td>
      <td>
        <ul>
          {% for error in form.sukunimi.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.sukuEtu.label }}
      </td>
      <td>
        {{ form.sukuEtu }}
      </td>
      <td>
        <ul>
          {% for error in form.sukuEtu.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.sahkoposti.label }}
      </td>
      <td>
        {{ form.sahkoposti }}
      </td>
      <td>
        <ul>
          {% for error in form.sahkoposti.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.puhelin.label }}
      </td>
      <td>
        {{ form.puhelin }}
      </td>
      <td>
        <ul>
          {% for error in form.puhelin.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.osoite.label }}
      </td>
      <td>
        {{ form.osoite }}
      </td>
      <td>
        <ul>
          {% for error in form.osoite.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.postinumero.label }}
      </td>
      <td>
        {{ form.postinumero }}
      </td>
      <td>
        <ul>
          {% for error in form.postinumero.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.postitoimipaikka.label }}
      </td>
      <td>
        {{ form.postitoimipaikka }}
      </td>
      <td>
        <ul>
          {% for error in form.postitoimipaikka.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.maa.label }}
      </td>
      <td>
        {{ form.maa }}
      </td>
      <td>
        <ul>
          {% for error in form.maa.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Lisää uusi henkilö"
      </td>
    </tr>
  </table>
<!--  <p>Etunimi:<br />
    <input type="text" name="etunimi"/>
  </p>
  <p>Sukunimi:<br />
    <input type="text" name="sukunimi"/>
  </p>
  <p>SukuEtu:<br />
    <input type="text" name="sukuEtu"/>
  </p>
  <p>Osoite:<br />
    <input type="text" name="osoite"/>
  </p>
  <p>Postinumero:<br />
    <input type="text" name="postinumero"/>
  </p>
  <p>Postitoimipaikka:<br />
    <input type="text" name="postitoimipaikka"/>
  </p>
  <p>Maa:<br />
    <input type="text" name="maa"/>
  </p>
  <p>Sähköposti:<br />
    <input type="text" name="sahkoposti"/>
  </p>
  <p>Puhelin:<br />
    <input type="text" name="puhelin"/>
  </p>
  <input type="submit" value="Lisää henkilö"/>-->
</form>
{% endblock %}
